body {
    color: blue;
    background: darkgray;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(192, 6, 248);
    padding: 20px;
    font-size: 64px;
    color: black;
    background: darkolivegreen;
}

section {
    background: bisque;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin: right 5%;
}