body {
    color: blue;
    background: darkgray;
    margin: 0 px;
}

header {
    border-bottom: solid 2 px rgb(192, 6, 248);
    padding: 20 px;
    font-size: 32 px;
    color: black;
    background: darkolivegreen;
}